<main>
    <img id="sadFaceImg"
        src="https://www.pngitem.com/pimgs/m/255-2550411_404-error-images-free-png-transparent-png.png"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>